html {
    font-size: 12px;
    @media (min-width: 768px) {
        font-size: 14px;
    }
    @media (min-width: 1280px) {
        font-size: 16px;
    }
}

body {
    font-family: "Rec Mono Duotone", monospace;
    line-height: 1.25;
    color: var(--fg);
    background: var(--bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}