@import "../styles/_include-media";
$breakpoints: ( xxs: 320px, xs: 480px, sm: 768px, md: 1024px, lg: 1280px, xl: 1440px, xxl: 1920px);
:root {
    --salmon: #e0a080;
    --max-width: 800px;
    --bg: #000000;
    --bg-trans: #00000080;
    --bg2: #101010;
    --bg3: #202020;
    --bd: #404040;
    --bd2: #202020;
    // --fg: #b0bec5;
    --fg: #eeeeee;
    --fg2: #C0C0C0;
    --yellow: #ffe8a0;
    --red: #dfa8f0;
    --midred: #423045;
    --darkred: #241a25;
    --blue: #90caf9;
    --midblue: #2a3b47;
    --darkblue: #172026;
    --green: #80cbc4;
    --midgreen: #233b3a;
    --darkgreen: #13201f;
    --comment: #757575;
    --yellow-trans: #ffe8a028;
    --red-trans: #dfa8f028;
    --blue-trans: #90caf928;
    --green-trans: #80cbc428;
    // light
    // --bg: #fff;
    // --bg2: #e0e0e0;
    // --bd: #e0e0e0;
    // --fg: #000000;
    // --yellow: #ffe8a0;
    // --red: #9b2889;
    // --blue: #1565c0;
    // --green: #00897b;
    // --fg-trans: #00000020;
    // --yellow-trans: #ffe8a030;
    // --red-trans: #9b288930;
    // --blue-trans: #1565c030;
    // --green-trans: #00897b30;
}

@font-face {
    font-family: "Fira Code";
    src: url("../fonts/FiraCode-Regular.woff2") format(woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fira Code";
    src: url("../fonts/FiraCode-Bold.woff2") format(woff2);
    font-weight: bold;
    font-style: normal;
}

// @font-face {
//     font-family: "Recursive Variable";
//     src: url("../fonts/recursive.ttf") format(truetype);
// }

.col-1 {
    grid-column: span 1;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
}

.col-5 {
    grid-column: span 5;
}

.col-6 {
    grid-column: span 6;
}

.col-7 {
    grid-column: span 7;
}

.col-8 {
    grid-column: span 8;
}

.col-9 {
    grid-column: span 9;
}

.col-10 {
    grid-column: span 10;
}

.col-11 {
    grid-column: span 11;
}

.col-12 {
    grid-column: span 12;
}

.col-md-1 {
    @include media(">=md") {
        grid-column: span 1;
    }
}

.col-md-2 {
    @include media(">=md") {
        grid-column: span 2;
    }
}

.col-md-3 {
    @include media(">=md") {
        grid-column: span 3;
    }
}

.col-md-4 {
    @include media(">=md") {
        grid-column: span 4;
    }
}

.col-md-5 {
    @include media(">=md") {
        grid-column: span 5;
    }
}

.col-md-6 {
    @include media(">=md") {
        grid-column: span 6;
    }
}

.col-md-7 {
    @include media(">=md") {
        grid-column: span 7;
    }
}

.col-md-8 {
    @include media(">=md") {
        grid-column: span 8;
    }
}

.col-md-9 {
    @include media(">=md") {
        grid-column: span 9;
    }
}

.col-md-10 {
    @include media(">=md") {
        grid-column: span 10;
    }
}

.col-md-11 {
    @include media(">=md") {
        grid-column: span 11;
    }
}

.col-md-12 {
    @include media(">=md") {
        grid-column: span 12;
    }
}

.hidden {
    display: none !important;
}